
/* Todo component */
.fa-trash-alt,
.fa-check-circle {
  cursor: pointer;
  padding: 0 20px;
}

.fa-check-circle {
  color: teal;
}

.fa-check-circle:hover {
  color: darkslategrey;
}

.fa-trash-alt {
  color: red;
}

.fa-trash-alt:hover {
  color: rgb(201, 97, 97);
}

.task {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0px;
}

.task:last-child {
  border-bottom: 1px solid lightgray;
}

.desc {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 50px);
}

.index {
  min-width: 20px;
  text-align: center;
}

.strike-through {
  text-decoration: line-through;
}